.answer {
    padding: 0 5px;
    background-color: var(--yellow);
    border: solid 2px #243488;
    margin: 8px 0;
    user-select: none;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    font-size: 24px;
    min-height: 35px;
    align-items: center;
}

.answer__closed {
    justify-content: center;
}

.answer__opened {
    background-color: rgb(0 0 0);
    color: yellowgreen;
    text-align: left;
    font-family: var(--terminal-font);
}

.answer__admin {
    justify-content: space-between;
}

.answer__closed__number {
    background-color: var(--red);
    color: white;
    font-weight: 700;
    height: 100%;
    width: 30px;
    text-align: center;
    line-height: 35px;
}