@import '../../App.css';

.team {
    width: 25%;
    background-color: var(--light-tardis-blue);
    border: solid 1px var(--tardis-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team__name {
    color: yellowgreen;
    padding: 5px;
    font-size: 18px;
    background-color: black;
    margin: 5px;
    min-width: calc(100% - 25px);
    text-align: center;
}

.round__number {
    color: var(--yellow);
    padding: 15px 10px;
    font-size: 48px;
    background-color: var(--red);
    margin: 5px;
    border: 1px solid #851616;
    border-radius: 9px;
    width: 35px;
    text-align: center;
    font-weight: 700;
}

.mistake {
    color: var(--red);
    font-size: 60px;
    background-color: var(--yellow);
    margin: 5px;
    line-height: 50px;
    border: 2px solid #88731c;
    border-radius: 15px;
    width: 70px;
    text-align: center;
    font-weight: 900;  
    height: 50px;
}