@import '../../../App.css';

.initGame {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.initGame h2 {
    color: var(--tardis-blue);
}

.newGameForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-list,
.newGameForm {
    border: 2px solid #003865;
    padding: 10px;
    margin: 10px;
}

.newGameForm input,
.resumeGameForm input {
    margin: 10px 0;
    padding: 10px 5px;
}

.newGameBtn,
.resumeGameBtn {
    height: 50px;
    padding: 10px;
    border: none;
    background-color: #003865;
    color: white;
    margin-top: 10px;
    font-size: 16px;
}

.newGame__version {
    height: 30px;
    margin: 20px 0;
    width: 90px;
    font-size: 24px;
}

.newGame__version option {
    background-color: #003865;
    color: white;
    width: 90px;
    font-size: 24px;
}

.resumeGameForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.game-list__item {
    list-style-type: none; 
    margin: 5px 0px;
}