@import '../../App.css';

.logo__board {
    max-height: 190px;
    margin: 20px 0;
}

.main__board {
    width: 50%;
    background-color: var(--light-tardis-blue);
    border: solid 1px var(--tardis-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.question {
    display: flex;
    align-items: center;
    background-color: black;
    color: yellowgreen;
    min-height: 40px;
    font-size: 18px;
    line-height: 24px;
    padding: 5px 10px;
}