@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&family=Roboto+Slab:wght@500;700;900&display=swap');

:root {
    --tardis-blue:  #003865;
    --light-tardis-blue: #3974a8;
    --yellow: #e5bf21;
    --red: #b51527;
    --main-font :'Raleway', sans-serif;
    --terminal-font: 'Roboto Slab', serif;
  }

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body, #root {
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--tardis-blue);
    height: 100%;
}

.game {
    display: flex; 
    height: 100%;
    margin-bottom: 20px;
    align-items: stretch;
    width: 100%;
    max-width: 1200px;
}

.answers__wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.logo__noGame__wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0 56 101);
}