.SendScoreToTeam {
    position: absolute;
    top: 5%;
    height: 50px;
    padding: 5px;
    border: none;
    background-color: green;
    color: white;
    font-size: 18px;
}

.SendScoreToTeam1 {
    left: 0px;
}

.SendScoreToTeam2 {
    right: 0;
}