.round__score,
.team__score {
    font-family: var(--terminal-font);
    color: yellowgreen;
    padding: 10px;
    font-size: 24px;
    background-color: black;
    margin: 5px;
    width: 50px;
    text-align: center;
}